/* ----- POPUP ----- */
#popup {
  position: fixed;
  z-index: 998;
  top: 150px;
  right: 100px;
  width: 245px;
  height: min-content;
  background-color: white;
  border: #e86658 2px solid;
  border-radius: 20px;
  transition: 2s ease-in-out;
}

#popup_error {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 245px;
  height: 200px;
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translate(-50%, -50%);
}

#popup_error div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: max-content;
  gap: 10px;
}

#popup_error i {
  padding-top: 20px;
  color: #de5c4d;
  scale: 2;
  height: 35px;
}

#message_error {
  font-weight: bold;
  font-size: large;
}

#popup_error p {
  text-align: center;
  margin: 0;
  padding: 0;
}

#button_error {
  width: 245px;
  height: 40px;
  text-decoration: none;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #de5c4d;
  cursor: pointer;
}

#button_error:hover {
  background-color: #d14839;
}

/* ----- OVERLAY ----- */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.overlay-active {
  display: block !important;
}

/* ----- DATA TRAJET & VEHICULE ----- */

#fermeture_container {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: fixed;
  top: 30px;
  left: 380px;
  z-index: 998;
  height: 182px;
  width: 25px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

#fermeture_icon {
  scale: 1.5;
}


/* ----- SCROLLBAR ----- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ----- FORMULAIRE ----- */

* {
  font-family: Rubik, sans-serif;
}

#addressForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 30px;
  left: 60px;
  z-index: 998;
  height: min-content;
  width: min-content;
  padding: 10px 20px 20px 20px;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#vehiculeForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 30px;
  left: 60px;
  z-index: 995;
  height: 272px;
  width: 272px;
  padding: 10px 20px 20px 20px;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#button-container {
  display: flex;
  justify-content: space-around;
}

#container_vehicules {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 10px;
  height: min-content;
  width: 100%;
  margin-top: 5px;
  padding: 5px 10px 5px 5px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-sizing: border-box;
}

.container-vehicule {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: min-content;
  width: 92%;
  gap: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.container-vehicule:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#addressForm > h3, #vehiculeForm > h3 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}

#container_affichage_vehicule {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 998;
}

#data_trajet {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 15px;
  height: min-content;
  width: max-content;
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.vehicle-autonomy {
  font-size: 13px;
  margin: 0px;
  color: #666;
}


.image-container {
  flex: 0 0 100px;
  height: 50px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vehicle-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.data-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
}

.vehicle-make {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.vehicle-model,
.vehicle-version {
  font-size: 14px;
  margin: 0;
  color: #666;
}


#addressForm input {
  height: 30px;
  border-radius: 5px;
  background-color: #f2f4f7;
  border: none;
  outline: none;
  text-decoration: none;
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 15px;
}

#point {
  width: 20;
  height: 20px;
}

.barre {
  border-top: 2px solid #333;
  margin: 20px 0;
}

#addressForm_data {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

#send, #back {
  width: 70px;
  border-radius: 10px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  background-color: #fc8073;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 6px 10px;
}

#send:hover, #back:hover {
  background-color: #ed5949;
}

#change {
  width: 20px;
  height: 20px;
  font-size: 20px;
  padding: 8px;
  cursor: pointer;
  color: white;
  border-radius: 50px;
}

#change:hover {
  background-color: #dcd6d5;
}

.hide {
  display: none !important;
}
